<section>
    <app-banner 
        src="../../../assets/images/banner-homepage.png"
        alt="Banner da aplicação Jornada"
    ></app-banner>
    <app-container>
        <app-form-busca (realizarBusca)="navegarParaBusca($event)"></app-form-busca>
        <h2>Promoções</h2>
        <div class="card-wrapper">
            <app-card-busca *ngFor="let promo of promocoes" [promocao]="promo"></app-card-busca>
        </div>
        <h2>Depoimentos</h2>
        <div class="card-wrapper">
            <app-card-depoimento *ngFor="let depo of depoimentos" [depoimento]="depo"></app-card-depoimento>
        </div>
    </app-container>
</section>